<main class="c-main">
  <section class="c-ttt">
    <div class="l-row">
      <div class="l-col">
        <!-- insert banner here -->
        {{> src/partials/_widget-banner }}
      </div>
      <div class="l-col">
        <div class="l-row">
          <!-- insert scores here -->
          {{> src/partials/_widget-scores }}
        </div>
        <div class="l-row">
          <!-- insert whose-turn here -->
          {{> src/partials/_widget-whose-turn }}
        </div>
        <div class="l-row">
          <div class="l-col">
            <!-- insert scroll here -->
            {{> src/partials/_widget-scroll }}
            {{> src/partials/_widget-candle }}
            {{> src/partials/_widget-end-result }}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
