<header class="c-header">
  <!-- insert banner here -->
  {{> src/partials/_widget-banner }}
</header>
<main class="c-main">
  <section class="l-layout l-layout--full c-ttt">
    <div class="l-layout__item">
      <div class="l-layout l-layout--full landscape">
        <div class="l-layout__item l-scores">
          {{> src/partials/_widget-scores }}
        </div>
        <div class="l-layout__item l-turns">
          {{> src/partials/_widget-whose-turn }}
        </div>
        <div class="l-layout__item l-scroll">
          {{> src/partials/_widget-scroll }}
        </div>
      </div>
    </div>
    <div class="l-layout__item">
      <!-- insert reset button here -->
      {{> src/partials/_widget-reset-button }}
    </div>
    <div class="l-layout__item">
      <div class="l-layout l-layout--full">
        <div class="l-layout__item l-candle">
          {{> src/partials/_widget-candle }}
        </div>
      </div>
    </div>
    {{> src/partials/_widget-end-result }}
  </section>
</main>
