<div class="l-layout landscape">
  <div class="l-layout__item">
    <div class="l-layout l-layout--flex-items">
      <div class="l-layout__item l-layout--justify-center">
        <div id="js-ttt-player-one-goes" class="l-whose-turn l-whose-turn--left">
          <div class="c-whose-turn">PLAYER ONE</div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-layout__item">
    <div class="l-layout l-layout--flex-items">
      <div class="l-layout__item l-layout--justify-center">
        <div id="js-ttt-player-two-goes" class="l-whose-turn l-whose-turn--right">
          <div class="c-whose-turn">
            <output id="js-ttt-player-two-human">PLAYER TWO</output>
            <output id="js-ttt-player-two-computer">COMPUTER</output>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
