<div class="l-banner">
  <div class="c-banner">
    <div class="c-banner__text">
      <div class="c-banner__word">
        <div class="c-banner__char">T</div>
        <div class="c-banner__char">I</div>
        <div class="c-banner__char">C</div>
      </div>
      <div class="c-banner__char">&nbsp;</div>
      <div class="c-banner__word">
        <div class="c-banner__char">T</div>
        <div class="c-banner__char">A</div>
        <div class="c-banner__char">C</div>
      </div>
      <div class="c-banner__char">&nbsp;</div>
      <div class="c-banner__word">
        <div class="c-banner__char">T</div>
        <div class="c-banner__char">O</div>
        <div class="c-banner__char">E</div>
      </div>
    </div>
    <div class="l-banner-ornament">
      <div class="c-ornament">
        <div class="c-ornament__string"></div>
        <div class="c-ornament__knot"></div>
        <div class="c-ornament__bobbin"></div>
      </div>
    </div>
  </div>
</div>
