<div class="l-candle">
  <div class="c-candle">
    <div class="c-flame">
      <div class="c-flame__shadows"></div>
      <div class="c-flame__top"></div>
      <div class="c-flame__middle"></div>
      <div class="c-flame__bottom"></div>
    </div>
    <div class="c-candle__wick"></div>
    <div class="c-candle__wax"></div>
  </div>
</div>
