<div class="c-ttt__form">
  <form action="#" method="post" id="js-ttt-preferences-form">
    <fieldset class="c-ttt__btn-grp c-ttt__btn-grp--game-type">
      <legend class="c-ttt__btn-grp-title">How would you like to play?</legend>
      <input type="radio" id="js-ttt-one-player" class="c-ttt__radio u-visuallyhidden" name="game-type" value="1"
             required>
      <label for="js-ttt-one-player" class="c-ttt__label">One player</label>
      <input type="radio" id="js-ttt-two-players" class="c-ttt__radio u-visuallyhidden" name="game-type" value="2"
             required>
      <label for="js-ttt-two-players" class="c-ttt__label">Two players</label>
    </fieldset>
    <fieldset class="c-ttt__btn-grp c-ttt__btn-grp--avatar">
      <legend class="c-ttt__btn-grp-title">Would you like to play with X or O?</legend>
      <input type="radio" id="js-ttt-x" class="c-ttt__radio u-visuallyhidden" name="avatar" value="X" required>
      <label for="js-ttt-x" class="c-ttt__label">X</label>
      <input type="radio" id="js-ttt-o" class="c-ttt__radio u-visuallyhidden" name="avatar" value="O" required>
      <label for="js-ttt-o" class="c-ttt__label">O</label>
    </fieldset>
    <input type="submit" class="c-ttt__btn c-ttt__btn--submit" value="Let's play!" disabled>
  </form>
</div>
