<div class="l-board">
  <div id="js-ttt-board" class="c-board">
    <div class="c-board__line c-board__line--top"></div>
    <div class="c-board__line c-board__line--bottom"></div>
    <div class="c-board__line c-board__line--left"></div>
    <div class="c-board__line c-board__line--right"></div>
    <div class="c-board__row">
      <button type="button" id="js-ttt-btn-0" class="c-board__btn">0</button>
      <button type="button" id="js-ttt-btn-1" class="c-board__btn">1</button>
      <button type="button" id="js-ttt-btn-2" class="c-board__btn">2</button>
    </div>
    <div class="c-board__row">
      <button type="button" id="js-ttt-btn-3" class="c-board__btn">3</button>
      <button type="button" id="js-ttt-btn-4" class="c-board__btn">4</button>
      <button type="button" id="js-ttt-btn-5" class="c-board__btn">5</button>
    </div>
    <div class="c-board__row">
      <button type="button" id="js-ttt-btn-6" class="c-board__btn">6</button>
      <button type="button" id="js-ttt-btn-7" class="c-board__btn">7</button>
      <button type="button" id="js-ttt-btn-8" class="c-board__btn">8</button>
    </div>
  </div>
</div>
