<div class="l-col--half">
  <div class="l-rhombus-banner l-rhombus-banner--left">
    <div class="l-rhombus__content">
      <div class="c-rhombus__content">
        <div class="c-rhombus-banner__text c-rhombus-banner__text--left">PLAYER</div>
        <div class="c-rhombus-banner__text c-rhombus-banner__text--right">ONE</div>
        <div class="c-rhombus-banner__text c-rhombus-banner__text--center">
          <output id="js-ttt-show-player-one-score" class="c-ttt__scores--player-one">0</output>
        </div>
      </div>
    </div>
    <div class="c-rhombus-banner"></div>
    <div class="l-rhombus-banner-ornament">
      <div class="c-ornament">
        <div class="c-ornament__string"></div>
        <div class="c-ornament__knot"></div>
        <div class="c-ornament__bobbin"></div>
      </div>
    </div>
  </div>
</div>
<div class="l-col--half">
  <div class="l-rhombus-banner l-rhombus-banner--right">
    <div class="l-rhombus__content">
      <div class="c-rhombus__content">
        <div id="js-ttt-show-score-human">
          <div class="c-rhombus-banner__text c-rhombus-banner__text--left">PLAYER</div>
          <div class="c-rhombus-banner__text c-rhombus-banner__text--right">TWO</div>
        </div>
        <div id="js-ttt-show-score-computer">
          <div class="c-rhombus-banner__text c-rhombus-banner__text--left">COMPUTER</div>
        </div>
        <div class="c-rhombus-banner__text c-rhombus-banner__text--center">
          <output id="js-ttt-show-player-two-score" class="c-ttt__scores--player-two">0</output>
        </div>
      </div>
    </div>
    <div class="c-rhombus-banner"></div>
    <div class="l-rhombus-banner-ornament">
      <div class="c-ornament">
        <div class="c-ornament__string"></div>
        <div class="c-ornament__knot"></div>
        <div class="c-ornament__bobbin"></div>
      </div>
    </div>
  </div>
</div>
