<div class="l-col l-col--half">
  <div class="l-whose-turn l-whose-turn--left">
    <div class="c-whose-turn">PLAYER ONE</div>
  </div>
</div>
<div class="l-col l-col--half">
  <div class="l-whose-turn l-whose-turn--right">
    <div class="c-whose-turn">PLAYER TWO</div>
  </div>
</div>
