<div class="l-reset-button">
  <button id="js-ttt-btn-reset" class="c-reset-button">Reset</button>
  <div class="l-firecrackers">
    <div class="l-firecracker l-firecracker--one">
      <div class="c-firecracker">
        <div class="c-firecracker__text">RESET</div>
        <div class="c-firecracker__fuse"></div>
      </div>
    </div>
    <div class="l-firecracker l-firecracker--two">
      <div class="c-firecracker">
        <div class="c-firecracker__text">RESET</div>
        <div class="c-firecracker__fuse"></div>
      </div>
    </div>
  </div>
</div>
