<div id="js-ttt-scroll" class="l-scroll l-scroll--show-form">
  <div class="c-scroll">
    <div class="c-scroll__holder c-scroll__holder--top">
      <div class="c-scroll__knob">
        <div class="c-scroll__knob c-scroll__knob--small c-scroll__knob--left"></div>
      </div>
      <div class="c-scroll__roll c-scroll__roll--top"></div>
      <div class="c-scroll__knob">
        <div class="c-scroll__knob c-scroll__knob--small c-scroll__knob--right"></div>
      </div>
    </div>
    <div class="c-scroll__paper">
      <div class="c-scroll__content">
        {{> src/partials/_widget-form }}
        {{> src/partials/_widget-board }}
      </div>
    </div>
    <div class="c-scroll__holder c-scroll__holder--bottom">
      <div class="c-scroll__knob">
        <div class="c-scroll__knob c-scroll__knob--small c-scroll__knob--left"></div>
      </div>
      <div class="c-scroll__roll c-scroll__roll--bottom"></div>
      <div class="c-scroll__knob">
        <div class="c-scroll__knob c-scroll__knob--small c-scroll__knob--right"></div>
      </div>
    </div>
  </div>
</div>
