// Animated candle
// slightly changed adaptation of this great pen by Maria
// http://codepen.io/Shorina/pen/VbepBe
$flame-height: 11.7370892vh;
$wick-height: 3.9123631vh;
$orange: #ff6a00;
$orange-yellow: #ff9224;
$dark: #2c2b39;
$blue-dark: #30537d;
$blue-light: #76daff;
$yellow: #fbf348;
$yellow-grey: #58523a;

.c-candle {
  bottom: 20vh;
  height: 17vh;
  position: absolute;
  right: 9vw;
  width: 7vh;
}

.c-candle__wick{
  height: $wick-height;
  left: 50%;
  position: absolute;
  top: $flame-height - 0.8 * $wick-height;
  transform: translateX(-50%) skewX(2deg) scale(0.5);
  width: 0.4694836vh;
  background: #23161a;
  border-radius: 10%;
  box-shadow: 0 0 0.1564945vh 0 black;

  &:before{
    content: '';
    height: 0.7824726vh;
    left: 50%;
    position: absolute;
    width: 0;
    box-shadow:
      0 -1.0954617vh 0.7824726vh 0.6259781vh white,
      0 -0.7824726vh 0.7824726vh 0.6259781vh rgba(255,215,0,0.7), //gold
      0 -0.2347418vh 0.7824726vh 0.6259781vh rgba(255,106,0,0.7),  //orange
      0 0.4694836vh 0.2347418vh 0.3129890vh black;
  }

  &:after{
    bottom:0;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    width: 0;
    box-shadow:
      0 0.3912363vh 0.1564945vh 0.2347418vh gold,
      0 1.5649452vh 0.1564945vh 1.0954617vh gold,
      0 -0.4694836vh 0.3129890vh 0.3912363vh rgba(98, 33, 27, 0.8),  //dark orange
      0 0 0.0782473vh 0.3129890vh rgba(255, 106, 0, 0.7),  //orange
      0 0 0.2347418vh 0.3129890vh $orange,
      0 0.3912363vh 0.2347418vh 0.3129890vh gold;
  }
}

.c-flame {
  height: $flame-height;
  margin: 0 auto;
  position: relative;
  transform: scale(0.5);
  transform-origin: 50% 90%;
  width: 1.5649452vh;

  &__top {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: skewY(-10deg);
    width: 1.5649452vh;
    animation: flame-up 4s infinite;
    background: white;
    border-top-left-radius: 500%;
    border-bottom-left-radius: 3.9123631vh;
    border-top-right-radius: 500%;
    border-bottom-right-radius: 3.9123631vh;
    box-shadow:
      0 0 0 0.2347418vh white,
      0 -1.5649452vh 0.0782473vh 0.3129890vh white,
      0 -1.9561815vh 0.1564945vh 0.2347418vh gold,
      0 -2.3474178vh 0.3912363vh 0.3129890vh $orange,  //top
      0 0 11.7370892vh 0.7824726vh $orange, //global
      0 -0.7824726vh 0.1564945vh 0.3129890vh white,
      0 -0.3912363vh 0.2347418vh 0.2347418vh white;
  }

  &__shadows {
    height: 4.6948357vh;
    left: 50%;
    position: absolute;
    top: 0;
    width: 0.0782473vh;
    border-radius: 50%;
    box-shadow:
      0 0.3912363vh 1.5649452vh 1.1737089vh gold,
      0 0 4.6948357vh 1.5649452vh $orange,
      0 1.1737089vh 3.9123631vh 1.1737089vh $orange,
      0.3912363vh 2.3474178vh 0.3912363vh 1.0172144vh $orange,
      0.3912363vh 3.9123631vh 0.3912363vh 1.0172144vh $orange,
      0 5.8685446vh 3.9123631vh 2.3474178vh black;
  }

  &__bottom {
    bottom: 0.4694836vh;
    height: 0.6259781vh;
    left: 0.7042254vh;
    position: absolute;
    transform: scale(0.9);
    width: 0.0782473vh;
    border-radius: 1%;
    background: $dark;
    box-shadow:
      0 0.4694836vh 0.7824726vh 0.9389671vh rgba(60, 76, 125, 0.3), //dark blue
      0 0 0.3129890vh 0.6259781vh $dark,
      0 -0.9389671vh 0.7824726vh 0.6259781vh rgba(255,106,0, 0.5),  //orange
      0 0.3912363vh 0.5477308vh 0.9389671vh $dark,
      0 -0.2347418vh 0.7824726vh 0.9389671vh $dark,
      0.3912363vh -0.7824726vh 0.7824726vh 0.3912363vh red,
      0 -1.1737089vh 0.7824726vh 0.7824726vh gold,
      0.3912363vh -1.9561815vh 0.7824726vh 0.3912363vh gold,
      0 0.1564945vh 0.3912363vh 0.7824726vh $blue-dark,
      0 -0.1564945vh 0.1564945vh 1.0954617vh $blue-light,
      0 0.1564945vh 0.7824726vh 0.9389671vh $blue-light;
  }
}

.c-candle__wax {
  height: 100%;
  position: relative;
  top: 0;
  width: 100%;
  animation: inner-glow 4s infinite;
  background: $orange-yellow;
  background: linear-gradient(to bottom, rgba(246,169,20,1) 0%,rgba(187,121,16,1) 31%,rgba(41,21,10,1) 100%);
  border-top-left-radius: 2.6604069vh;
  border-top-right-radius: 1.0954617vh;
  box-shadow:
    inset 0 1.0954617vh 1.0172144vh -0.7824726vh #fbf348,
    inset 0 2.0344288vh 9.6244131vh -2.4256651vh rgba(255, 0, 0, 0.4),
    inset 0 0.1564945vh 0.1564945vh 0 black,
    0 0 0.0782473vh 0 #ff6a00,
    inset 0 -3.9123631vh 8.9984351vh #29150a;
}

@keyframes move {
  0% {
    transform: skewX(2deg) skewY(5deg)
  }

  50% {
    transform: skewX(-2deg) skewY(-0deg)
  }

  100% {
    transform: skewX(2deg) skewY(5deg)
  }
}

@keyframes move-left {
  50% {
    transform: skewX(3deg);
  }
}

@keyframes flame-up {
  50% {
    box-shadow:
      0 0 0 0.2347418vh white,
      0 -2.9733959vh 0.0782473vh 0.1564945vh white,
      0 -3.2081377vh 0.1564945vh 0.2347418vh gold,
      0 -3.9123631vh 0.3912363vh 0.3129891vh $orange,  //orange top
      0 0 11.7370892vh 0.7824726vh $orange, //orange global
      0 -0.7824726vh 0.1564945vh 0.3129890vh white,
      0 -0.3912363vh 0.2347418vh 0.2347418vh white;
  }
}

@keyframes brighten {
  50% {
    opacity: 1;
  }
}

@keyframes inner-glow {
  50% {
    box-shadow:
      inset 0 1.0954617vh 1.0172144vh -0.6259781vh #fbf348 + 20,
      inset 0 2.0344288vh 9.6244132vh -2.4256651vh rgba(255, 0, 0, 0.4),
      inset 0 0.1564945vh 0.1564945vh 0 black,
      0 0 0.0782473vh 0 #ff6a00,
      inset 0 -3.9123631vh 6.4162754vh #29150a;
  }
}
