// Animated candle
// slightly changed adaptation of this great pen by Maria
// http://codepen.io/Shorina/pen/VbepBe
$flame-height: 11.7370892vmin;
$wick-height: 3.9123631vmin;
$orange: #ff6a00;
$orange-yellow: #ff9224;
$dark: #2c2b39;
$blue-dark: #30537d;
$blue-light: #76daff;
$yellow: #fbf348;
$yellow-grey: #58523a;

.c-candle {
  bottom: 20vmin;
  height: 17vmin;
  position: absolute;
  right: 3vmin;
  width: 7vmin;
}

.c-candle__wick{
  height: $wick-height;
  left: 50%;
  position: absolute;
  top: $flame-height - 0.8 * $wick-height;
  transform: translateX(-50%) skewX(2deg) scale(0.5);
  width: 0.4694836vmin;
  background: #23161a;
  border-radius: 10%;
  box-shadow: 0 0 0.1564945vmin 0 black;

  &:before{
    content: '';
    height: 0.7824726vmin;
    left: 50%;
    position: absolute;
    width: 0;
    box-shadow:
      0 -1.0954617vmin 0.7824726vmin 0.6259781vmin white,
      0 -0.7824726vmin 0.7824726vmin 0.6259781vmin rgba(255,215,0,0.7), //gold
      0 -0.2347418vmin 0.7824726vmin 0.6259781vmin rgba(255,106,0,0.7),  //orange
      0 0.4694836vmin 0.2347418vmin 0.3129890vmin black;
  }

  &:after{
    bottom:0;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    width: 0;
    box-shadow:
      0 0.3912363vmin 0.1564945vmin 0.2347418vmin gold,
      0 1.5649452vmin 0.1564945vmin 1.0954617vmin gold,
      0 -0.4694836vmin 0.3129890vmin 0.3912363vmin rgba(98, 33, 27, 0.8),  //dark orange
      0 0 0.0782473vmin 0.3129890vmin rgba(255, 106, 0, 0.7),  //orange
      0 0 0.2347418vmin 0.3129890vmin $orange,
      0 0.3912363vmin 0.2347418vmin 0.3129890vmin gold;
  }
}

.c-flame {
  height: $flame-height;
  margin: 0 auto;
  position: relative;
  transform: scale(0.5);
  transform-origin: 50% 90%;
  width: 1.5649452vmin;

  &__top {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: skewY(-10deg);
    width: 1.5649452vmin;
    animation: flame-up 4s infinite;
    background: white;
    border-top-left-radius: 500%;
    border-bottom-left-radius: 3.9123631vmin;
    border-top-right-radius: 500%;
    border-bottom-right-radius: 3.9123631vmin;
    box-shadow:
      0 0 0 0.2347418vmin white,
      0 -1.5649452vmin 0.0782473vmin 0.3129890vmin white,
      0 -1.9561815vmin 0.1564945vmin 0.2347418vmin gold,
      0 -2.3474178vmin 0.3912363vmin 0.3129890vmin $orange,  //top
      0 0 11.7370892vmin 0.7824726vmin $orange, //global
      0 -0.7824726vmin 0.1564945vmin 0.3129890vmin white,
      0 -0.3912363vmin 0.2347418vmin 0.2347418vmin white;
  }

  &__shadows {
    height: 4.6948357vmin;
    left: 50%;
    position: absolute;
    top: 0;
    width: 0.0782473vmin;
    border-radius: 50%;
    box-shadow:
      0 0.3912363vmin 1.5649452vmin 1.1737089vmin gold,
      0 0 4.6948357vmin 1.5649452vmin $orange,
      0 1.1737089vmin 3.9123631vmin 1.1737089vmin $orange,
      0.3912363vmin 2.3474178vmin 0.3912363vmin 1.0172144vmin $orange,
      0.3912363vmin 3.9123631vmin 0.3912363vmin 1.0172144vmin $orange,
      0 5.8685446vmin 3.9123631vmin 2.3474178vmin black;
  }

  &__bottom {
    bottom: 0.4694836vmin;
    height: 0.6259781vmin;
    left: 0.7042254vmin;
    position: absolute;
    transform: scale(0.9);
    width: 0.0782473vmin;
    border-radius: 1%;
    background: $dark;
    box-shadow:
      0 0.4694836vmin 0.7824726vmin 0.9389671vmin rgba(60, 76, 125, 0.3), //dark blue
      0 0 0.3129890vmin 0.6259781vmin $dark,
      0 -0.9389671vmin 0.7824726vmin 0.6259781vmin rgba(255,106,0, 0.5),  //orange
      0 0.3912363vmin 0.5477308vmin 0.9389671vmin $dark,
      0 -0.2347418vmin 0.7824726vmin 0.9389671vmin $dark,
      0.3912363vmin -0.7824726vmin 0.7824726vmin 0.3912363vmin red,
      0 -1.1737089vmin 0.7824726vmin 0.7824726vmin gold,
      0.3912363vmin -1.9561815vmin 0.7824726vmin 0.3912363vmin gold,
      0 0.1564945vmin 0.3912363vmin 0.7824726vmin $blue-dark,
      0 -0.1564945vmin 0.1564945vmin 1.0954617vmin $blue-light,
      0 0.1564945vmin 0.7824726vmin 0.9389671vmin $blue-light;
  }
}

.c-candle__wax {
  height: 100%;
  position: relative;
  top: 0;
  width: 100%;
  animation: inner-glow 4s infinite;
  background: $orange-yellow;
  background: linear-gradient(to bottom, rgba(246,169,20,1) 0%,rgba(187,121,16,1) 31%,rgba(41,21,10,1) 100%);
  border-top-left-radius: 2.6604069vmin;
  border-top-right-radius: 1.0954617vmin;
  box-shadow:
    inset 0 1.0954617vmin 1.0172144vmin -0.7824726vmin #fbf348,
    inset 0 2.0344288vmin 9.6244131vmin -2.4256651vmin rgba(255, 0, 0, 0.4),
    inset 0 0.1564945vmin 0.1564945vmin 0 black,
    0 0 0.0782473vmin 0 #ff6a00,
    inset 0 -3.9123631vmin 8.9984351vmin #29150a;
}

@keyframes move {
  0% {
    transform: skewX(2deg) skewY(5deg)
  }

  50% {
    transform: skewX(-2deg) skewY(-0deg)
  }

  100% {
    transform: skewX(2deg) skewY(5deg)
  }
}

@keyframes move-left {
  50% {
    transform: skewX(3deg);
  }
}

@keyframes flame-up {
  50% {
    box-shadow:
      0 0 0 0.2347418vmin white,
      0 -2.9733959vmin 0.0782473vmin 0.1564945vmin white,
      0 -3.2081377vmin 0.1564945vmin 0.2347418vmin gold,
      0 -3.9123631vmin 0.3912363vmin 0.3129891vmin $orange,  //orange top
      0 0 11.7370892vmin 0.7824726vmin $orange, //orange global
      0 -0.7824726vmin 0.1564945vmin 0.3129890vmin white,
      0 -0.3912363vmin 0.2347418vmin 0.2347418vmin white;
  }
}

@keyframes brighten {
  50% {
    opacity: 1;
  }
}

@keyframes inner-glow {
  50% {
    box-shadow:
      inset 0 1.0954617vmin 1.0172144vmin -0.6259781vmin #fbf348 + 20,
      inset 0 2.0344288vmin 9.6244132vmin -2.4256651vmin rgba(255, 0, 0, 0.4),
      inset 0 0.1564945vmin 0.1564945vmin 0 black,
      0 0 0.0782473vmin 0 #ff6a00,
      inset 0 -3.9123631vmin 6.4162754vmin #29150a;
  }
}
