//<div class="l-banner-ornament">
//  <div class="c-ornament">
//    <div class="c-ornament__string"></div>
//    <div class="c-ornament__knot"></div>
//    <div class="c-ornament__bobbin"></div>
//  </div>
//</div>

$ornament-height: 15.6494523vh;
$ornament-width: 1.2519562vh;

.c-ornament {
  height: $ornament-height;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: $ornament-width;
  z-index: -1;

  &__knot {
    height: $ornament-width;
    position: relative;
    background-color: #ffeeb5;
    background-image: linear-gradient(to right, #ae8913, #ffeeb5);
    border-radius: 0.1564945vh;

    &:after,
    &:before {
      content: '';
      height: 0.3129890vh;
      transform: translateX(-50%);
      position: absolute;
      background-color: #e11f27 - 34;
      width: 80%;
    }

    &:before {
      border-top-left-radius: 0.3129890vh;
      border-top-right-radius: 0.3129890vh;
      top: -0.3129890vh;
    }

    &:after {
      border-bottom-left-radius: 0.3129890vh;
      border-bottom-right-radius: 0.3129890vh;
      bottom: -0.3129890vh;
    }
  }

  &__bobbin {
    height: $ornament-height * 0.667;
    width: $ornament-width - 0.1564945vh;
    background-color: #e11f27 - 34;
    background-image: repeating-linear-gradient(to right, #e11f27 - 34, $page-background-color 2%);
  }

  &__string {
    height: $ornament-height * 0.334;
    left: 50%;
    margin: 0 auto;
    width: 0.1564945vh;
    background-color: #e11f27 - 50;
  }
}

.l-ornament {
  bottom: 0;
  position: absolute;
}
