.c-end-result {
  position: relative;
  padding: 2vh 8vh;
  width: 50vw;
  background-color: rgb(212, 175, 55);
  background-image: linear-gradient(145deg, transparent, rgba(255, 238, 181, 1));
  background-size: 200%;
  border: 0.23474175vh solid #e11f27 - 50;
  color: #333;
  font-family: 'Finger Paint', cursive;
  font-size: xx-large;

  &:after {
    bottom: -1.1737089vh;
    left: -1.1737089vh;
    position: absolute;
    right: -1.1737089vh;
    top: -1.1737089vh;
    z-index: -1;
    content: '';
    background-color: rgb(212, 175, 55);
    background-image: linear-gradient(145deg, transparent, rgba(255, 238, 181, 1));
    background-size: 200%;
  }
}

.l-end-result {
  align-self: center;
  display: none;
  margin-left: -9vh;
  opacity: 0;
  position: absolute;
  transform: translateY(0);
  width: 50vw;
  z-index: +1;
  box-shadow: -1.76056335vh -1.8779343vh 7.04225355vh 0.7042254vh #62211b;
}

.l-end-result--show {
  display: inherit;
  animation-name: slideInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-8vh);
  }
}
