.c-end-result {
  position: relative;
  padding: 2vmin 8vmin;
  width: 100%;
  background-color: rgb(212, 175, 55);
  background-image: linear-gradient(145deg, transparent, rgba(255, 238, 181, 1));
  background-size: 200%;
  border: 0.1564945vh solid #e11f27 - 50;
  color: #333;
  font-family: 'Finger Paint', cursive;
  font-size: xx-large;

  &:after {
    bottom: -0.7824726vh;
    left: -0.7824726vh;
    position: absolute;
    right: -0.7824726vh;
    top: -0.7824726vh;
    z-index: -1;
    content: '';
    background-color: rgb(212, 175, 55);
    background-image: linear-gradient(145deg, transparent, rgba(255, 238, 181, 1));
    background-size: 200%;
  }
}

.l-end-result {
  align-self: center;
  display: none;
  opacity: 0;
  position: absolute;
  transform: translateY(0);
  width: 100%;
  z-index: +1;
  box-shadow: -1.1737089vh -1.2519562vh 4.6948357vh 0.4694836vh rgba(98, 33, 27, 1);
}

.l-end-result--show {
  display: inherit;
  animation-name: slideInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-8vmin);
  }
}
