.c-end-result {
  position: relative;
  padding: 2vmin 8vmin;
  width: 50vmin;
  background-color: rgb(212, 175, 55);
  background-image: linear-gradient(145deg, transparent, rgba(255, 238, 181, 1));
  background-size: 200%;
  border: 0.23474175vmin solid #e11f27 - 50;
  color: #333;
  font-family: 'Finger Paint', cursive;
  font-size: xx-large;

  &:after {
    bottom: -1.1737089vmin;
    left: -1.1737089vmin;
    position: absolute;
    right: -1.1737089vmin;
    top: -1.1737089vmin;
    z-index: -1;
    content: '';
    background-color: rgb(212, 175, 55);
    background-image: linear-gradient(145deg, transparent, rgba(255, 238, 181, 1));
    background-size: 200%;
  }
}

.l-end-result {
  align-self: center;
  display: none;
  margin-left: -9vmin;
  opacity: 0;
  position: absolute;
  transform: translateY(0);
  width: 50vmin;
  z-index: +1;
  box-shadow: -1.76056335vmin -1.8779343vmin 7.04225355vmin 0.7042254vmin #62211b;
}

.l-end-result--show {
  display: inherit;
  animation-name: slideInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-8vmin);
  }
}
