.c-ttt__form {
  transition: opacity $global-transition;
}

.c-ttt__btn {
  margin: 1.1737089vh;
  padding: 1.1737089vh 2.3474178vh;
  appearance: none;
  background-color: transparent;
  border: 0.3521127vh solid transparent;
  border-radius: 29.9295774vh 1.76056335vh 26.4084507vh 1.76056335vh/1.76056335vh 26.4084507vh 1.76056335vh 29.9295774vh;
  font-family: 'Finger Paint', cursive;
  font-size: 2.46478875vh;
  transition: opacity $global-transition;

  &:disabled {
    opacity: 0;
  }

  &:active,
  &:focus {
    border: 0.3521127vh solid #333;
    outline: none;
  }

  &:hover:disabled {
    border: 0.3521127vh dotted transparent;
  }

  &:hover {
    border: 0.3521127vh dotted #333;
  }
}

.c-ttt__btn-grp {
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;

  &:not(:first-child) {
    margin-top: 2.3474178vh;
  }
}

.c-ttt__btn-grp-title {
  width: 100%; // For Firefox
  font-size: 2.46478875vh;
}

.c-ttt__label {
  margin: 1.1737089vh;
  padding: 1.1737089vh 2.3474178vh;
  display: inline-block;
  border: 0.3521127vh solid transparent;
  border-radius: 29.9295774vh 1.76056335vh 26.4084507vh 1.76056335vh/1.76056335vh 26.4084507vh 1.76056335vh 29.9295774vh;
  font-size: 2.93427225vh;

  &:hover {
    border: 0.3521127vh dotted #333;
  }
}

.c-ttt__radio {
  &:checked + .c-ttt__label {
    border: 0.3521127vh solid #333;
  }
}
