.c-ttt__form {
  transition: opacity $global-transition;
}

.c-ttt__btn {
  margin: 0.7824726vh;
  padding: 0.7824726vh 1.5649452vh;
  appearance: none;
  background-color: transparent;
  border: 0.2347418vh solid transparent;
  border-radius: 19.9530516vh 1.1737089vh 17.6056338vh 1.1737089vh/1.1737089vh 17.6056338vh 1.1737089vh 19.9530516vh;
  font-family: 'Finger Paint', cursive;
  font-size: 1.6431925vh;
  transition: opacity $global-transition;

  &:disabled {
    opacity: 0;
  }

  &:active,
  &:focus {
    border: 0.2347418vh solid #333;
    outline: none;
  }

  &:hover:disabled {
    border: 0.2347418vh dotted transparent;
  }

  &:hover {
    border: 0.2347418vh dotted #333;
  }
}

.c-ttt__btn-grp {
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;

  &:not(:first-child) {
    margin-top: 1.5649452vh;
  }
}

.c-ttt__btn-grp-title {
  width: 100%; // For Firefox
  font-size: 1.6431925vh;
}

.c-ttt__label {
  margin: 0.7824726vh;
  padding: 0.7824726vh 1.5649452vh;
  display: inline-block;
  border: 0.2347418vh dotted transparent;
  border-radius: 19.9530516vh 1.1737089vh 17.6056338vh 1.1737089vh/1.1737089vh 17.6056338vh 1.1737089vh 19.9530516vh;
  font-size: 1.9561815vh;

  &:hover {
    border: 0.2347418vh dotted #333;
  }
}

.c-ttt__radio {
  &:checked + .c-ttt__label {
    border: 0.2347418vh solid #333;
  }
}
