$button-height: 11.73708915vmin;
$button-width: 11.73708915vmin;

$height: 3.5211267vmin;
$width: 10.56338025vmin;

.c-firecracker {
  height: 100%;
  position: relative;
  background-color: #e11f27;
  box-shadow: inset 0 0 3.5211267vmin rgba(0, 0, 0, 0.5);

  &:after,
  &:before {
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    width: $height / 3;
    background-color: red;
    border-radius: 50%;
  }

  &:after {
    right: -$height / 3 * 0.5;
    z-index: +1;
    box-shadow: inset 0 0 2.3474178vmin rgba(0, 0, 0, 0.5);
  }

  &:before {
    z-index: -1;
    left: -$height / 3 * 0.5;
    background-color: #e11f27;
    box-shadow: inset 0 0 2.3474178vmin rgba(0, 0, 0, 0.5);
  }

  &__fuse {
    height: 0.3521127vmin;
    position: absolute;
    right: -$width * 0.5;
    top: 50%;
    width: $width * 0.5;
    z-index: +2;
    background-color: grey;
  }

  &__text {
    left: 0;
    position: absolute;
    right: 0;
    //top: 40%;
    transform: rotate(180deg);
    color: gold;
    font-size: 3vmin;
    text-align: center;
  }
}

.l-firecracker {
  height: $height;
  width: $width;
}

.l-firecracker--one {
  transform: rotate3d(4, -4, -5, 69deg) translateX(-2.3474178vmin);
}

.l-firecracker--one .c-firecracker__text {
  transform: rotate(0); // Firefox switches z-index;
}

.l-firecracker--two {
  transform: rotate3d(-1, 10, -20, 153deg);
  z-index: -1;
}

.l-firecrackers {
  position: absolute;
  z-index: -1;
}

.c-reset-button {
  height: $button-height;
  position: relative;
  width: $button-width;
  appearance: none;
  background-color: transparent;
  border: 0;
  color: transparent;
  outline: none;
}

.l-reset-button {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 6vmin;
  width: 100%;
  transition: opacity $global-transition;
}
