$rhombus-banner-height: 15.6494523vh;
$rhombus-banner-width: $rhombus-banner-height;

.c-rhombus-banner {
  height: $rhombus-banner-height;
  position: relative;
  transform: rotate(45deg);
  width: $rhombus-banner-width;
  background-image: linear-gradient(45deg, #ae8913 50%, #ffeeb5 - 50);
  transition: opacity $global-transition;

  &:after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0.9);
    background-color: #e11f27;
    background-image: linear-gradient(to right, #e11f27 - 100, #e11f27);
  }
}

.l-rhombus__content {
  height: $rhombus-banner-height;
  position: absolute;
  width: $rhombus-banner-width;
  z-index: +2;
}

.c-rhombus__content {
  height: 100%;
  position: relative;
}

.c-rhombus-banner__text {
  height: 100%;
  color: #D4AF37;
  width: 100%;
  font-size: 1.6431925vh;
  text-shadow: 0.0782473vh 0 0 #ffeeb5;
}

.c-rhombus-banner__text--left {
  position: absolute;
  transform: rotate(-45deg);
  text-align: center;
  padding-top: 0.9389671vh;
}

.c-rhombus-banner__text--right {
  position: absolute;
  transform: rotate(45deg);
  text-align: center;
  padding-top: 0.9389671vh;
}

.c-rhombus-banner__text--center {
  position: absolute;
  top: 50%;
  transform: translateY(-1.8779343vh); // Half font size
  font-size: 4.0688576vh;
}

.l-rhombus-banner {
  margin-bottom: 1.5649452vh;
  position: relative;
  transform: scale(.4);
}

.l-rhombus-banner--left {
  align-self: flex-start;
}

.l-rhombus-banner--right {
  align-self: flex-end;
}
