$rhombus-banner-height: 23.47417845vh;
$rhombus-banner-width: $rhombus-banner-height;

.c-rhombus-banner {
  height: $rhombus-banner-height;
  position: relative;
  transform: rotate(45deg);
  width: $rhombus-banner-width;
  background-image: linear-gradient(45deg, #ae8913 50%, #ffeeb5 - 50);
  transition: opacity $global-transition;

  &:after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0.9);
    background-color: #e11f27;
    background-image: linear-gradient(to right, #e11f27 - 100, #e11f27);
  }
}

.l-rhombus__content {
  height: $rhombus-banner-height;
  position: absolute;
  width: $rhombus-banner-width;
  z-index: +2;
}

.c-rhombus__content {
  height: 100%;
  position: relative;
}

.c-rhombus-banner__text {
  height: 100%;
  color: #D4AF37;
  width: 100%;
  font-size: 2.46478875vh;
  text-shadow: 0.11737095vh 0 0 #ffeeb5;
}

.c-rhombus-banner__text--left {
  position: absolute;
  transform: rotate(-45deg);
  text-align: center;
  padding-top: 1.40845065vh;
}

.c-rhombus-banner__text--right {
  position: absolute;
  transform: rotate(45deg);
  text-align: center;
  padding-top: 1.40845065vh;
}

.c-rhombus-banner__text--center {
  position: absolute;
  top: 50%;
  transform: translateY(-2.81690145vh); // Half font size
  font-size: 6.1032864vh;
}

.l-rhombus-banner {
  margin-bottom: 2.3474178vh;
  position: relative;
  transform: scale(.4);

  @media (max-height: 768px) {
    transform: scale(.6);
  }
}

.l-rhombus-banner--left {
  align-self: flex-start;
}

.l-rhombus-banner--right {
  align-self: flex-end;
}

.l-rhombus-banner-ornament {
  left: 50%;
  position: absolute;
  top: 120%;
  transform: translateX(-50%);
}
