$c-scroll-knob-height: 70px;
$c-scroll-knob-width: $c-scroll-knob-height / 2.34;
$c-scroll-scroll-height: 43px;
$c-scroll-scroll-width: 500px;

$c-scroll-paper-height: 500px;
$c-scroll-paper-color: #dac48b;

$l-scroll-height: 600px;

.c-scroll {
  font-family: 'Finger Paint', cursive;

  &__paper {
    background-color: $c-scroll-paper-color;
    margin: 0 $c-scroll-knob-height / 2;
    min-height: $c-scroll-scroll-height;
    position: relative;
    z-index: -1;
    background-image: linear-gradient(to top, #c19b5d + 10 0%, #d9ba7e + 10 3%, #ebd095 10%, #ebd095 89%, #e5c78b 91%, #c19b5d + 20 100%);
    box-shadow: inset 0 0 32px #c19b5d;
  }

  &__holder {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__roll {
    background-color: $c-scroll-paper-color;
    height: $c-scroll-scroll-height;
    position: relative;
    width: $c-scroll-scroll-width;
    margin: 0 5px;

    &:before {
      content: '';
      bottom: 2px;
      left: -5px;
      position: absolute;
      top: 2px;
      width: 5px;
      background-color: #4A2B11;
      background-image: linear-gradient(to bottom, #4A2B11 5%, #CD9E53 55%, #CD9E53, #4A2B11);
    }

    &:after {
      content: '';
      bottom: 2px;
      right: -5px;
      position: absolute;
      top: 2px;
      width: 5px;
      background-color: #4A2B11;
      background-image: linear-gradient(to bottom, #4A2B11 5%, #CD9E53 55%, #CD9E53, #4A2B11);
    }
  }

  &__knob {
    background-color: #CD9E53;
    background-image: linear-gradient(to right, #4A2B11 5%, #CD9E53 55%, #CD9E53, #4A2B11);
    box-shadow: inset 0 6px 32px rgba(74, 43, 17, 1);
    border-radius: 15px/30px;
    height: $c-scroll-knob-height;
    position: relative;
    width: $c-scroll-knob-width;
  }
}

.c-scroll__content {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: center;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.c-scroll__holder--bottom {
  margin-top: -20px;
}

.c-scroll__holder--top {
  margin-bottom: -20px;
}

.c-scroll__knob--small {
  position: absolute;
  transform: scale(.5);
}

.c-scroll__knob--left {
  left: -20px;
}

.c-scroll__knob--right {
  right: -20px;
}

.c-scroll__roll--bottom {
  background-image: linear-gradient(to top, #98743C + 60, #EED89F 30%, #98743C);
  transform: rotate(180deg);
}

.c-scroll__roll--top {
  background-image: linear-gradient(to bottom, #98743C, #EED89F 70%, #98743C + 30);
}

.c-scroll__paper--rolled-up {
}

.c-scroll__paper--unrolled {
  animation-name: paper-unroll, bounce;
  animation-duration: .5s, 2s;
  animation-timing-function: ease-in, cubic-bezier(0, 0, 0.35, 1);
  animation-delay: 0s, .5s;
  animation-fill-mode: both;
}

.l-scroll {
  height: $l-scroll-height;
}

@keyframes paper-unroll {
  0% {
    height: $c-scroll-scroll-height;
  }
  100% {
    height: $c-scroll-paper-height;
  }
}

@keyframes bounce {
  0% {
    height: $c-scroll-paper-height;
    //animation-timing-function: ease-in;
  }
  40% {
    //transform: translateY(-100px);
    height: $c-scroll-paper-height - 100px;
    animation-timing-function: ease-in;
  }
  65% {
    //transform: translateY(-52px);
    height: $c-scroll-paper-height - 52px;
    animation-timing-function: ease-in;
  }
  82% {
    //transform: translateY(-25px);
    height: $c-scroll-paper-height - 25px;
    animation-timing-function: ease-in;
  }
  92% {
    //transform: translateY(-12px);
    height: $c-scroll-paper-height - 12px;
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87%,
  97%,
  100% {
    //transform: translateY(0px);
    height: $c-scroll-paper-height;
    animation-timing-function: ease-out;
  }
}
