@import url('https://fonts.googleapis.com/css?family=Finger+Paint');

.c-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $page-background-color;
  color: #fff;

  @media (orientation: landscape) {
    flex-direction: row;
    justify-content: center;
  }
}

.c-main {
  align-self: center;
}

.c-ttt {
  position: relative;
  text-align: center;
  animation: brighten 4s infinite;
  opacity: 0.90;
}

.l-scores {
  @media (orientation: portrait) {
    order: 1;
  }

  @media (orientation: landscape) {
    order: 3;
  }
}

.l-turns {
  @media (orientation: portrait) {
    order: 2;
  }

  @media (orientation: landscape) {
    order: 1;
  }
}

.l-scroll {
  @media (orientation: portrait) {
    order: 3;
  }

  @media (orientation: landscape) {
    order: 2;
  }
}

.s-hidden {
  height: 1px;
  margin: -1px;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  width: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  padding: 0;
}
