@import url('https://fonts.googleapis.com/css?family=Finger+Paint');

.c-body {
  background-color: $page-background-color;
  color: #fff;
}

.c-main {
  //align-items: center;
  display: flex;
  height: 100vmin;
  justify-content: center;
  width: 100vw;
}

.l-center {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100vmin;
  justify-content: center;
}

.l-center-row {
  display: flex;
  width: 100%;
}

.l-row {
  display: flex;
  width: 100%;
}

.l-col {
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;

  &:not(:first-of-type) {
    margin-left: 3%;
  }
}

.l-col--half {
  flex: 1 1 50%;
}

.l-col--one-thirds {
  flex: 1 1 33.3333333%;
}

.l-col--two-thirds {
  flex: 1 1 66.6666667%;
}

.c-ttt {
  max-width: 100vw;
  position: relative;
  text-align: center;
  animation: brighten 4s infinite;
  opacity: 0.90;
}

.s-hidden {
  height: 1px;
  margin: -1px;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  width: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  padding: 0;
}
